################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/XamarinHmsHiAnalyticsDemo/v16
/bin/Debug
/obj
